*{
    padding: 20px;
    margin: 20px;
   box-sizing: border-box;
}
table {
       margin: 2rem;
       width: 30rem;
       height: 30rem;
       border-collapse: collapse;
}
tr td{
     width: 2rem;    
     height: 2rem;
     border: solid black 1px;
     text-align: center;

}
table {
     border: solid red 2px;
}
tr {
     /* border: solid blue 2px; */
}
td {
     /* border: solid blue 2px; */
}
h1 {
     text-align: center;
}
body {
     border: 1px solid rgb(7, 6, 6);
     background-color: rgb(134, 235, 201);
}